
  header{
    background-color: #000;
    color: #fff;
  }
  .header__title{
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
  }

  .header__title h1{
    letter-spacing: 8px;
    margin-bottom: 0px;
  }

  .header__title h6{
    letter-spacing: -1px;
  }

  footer{
    display: block;
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    width: 100%;
    background-color: #000;
    color: #fff;
  }
  .footer__title{
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
  }

  .footer__title h6{
    letter-spacing: 4px;
    font-weight: 200;
    margin-bottom: 0px;
  }

  .footer__title a {
    color: #fff;
    text-decoration: underline;
  }

  .footer__title a:hover{
    text-decoration: none;
  }

  .game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading__area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .heading__area h2{
    letter-spacing: 4px;
    text-decoration: underline;
    text-align: center;
  }

  .heading__area h5{
    letter-spacing: -0.5px;
  }

  .grid-container {
      display: grid;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      background-color: #000;
      padding: 0px;
      grid-template-columns: auto auto auto;
      width: 304px;
      height: 304px;
      align-self: center;
      align-content: center;
      margin: auto;
  }

  .grid-item {
      background-color: #efeeee;
      text-align: center;
      height: 100px;
      width: 100px;
      color: black;
      font-size: xx-large;
      text-align: center;
      vertical-align: middle;
      line-height: 100px;
  }

  .grid-item:hover {
      background-color: #cfb997;
      cursor: pointer;
  }

  .grid-item:active {
      background-color: #cfb997;
  }

  .mode__area{
    text-transform: uppercase;
    text-align: center;
    height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  }

  .mode__area h3{
    line-height: 1;
    margin-bottom: 0px;
    letter-spacing: 4px;
    font-weight: 200;
  }

  .mode__area h5{
    letter-spacing: 4px;
  }

  .mode__area hr{
    width:100%;
  }

  button.btn{
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200;
  }

  .mode__area--block{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row .col-md-6:first-child{
    border-right: 2px solid #000;
  }

  @media (max-width: 767.98px) {
    .row .col-md-6:first-child{
      border-right: 0;
    }

    .row .col-md-6:last-child{
      margin-top: 15px;
    }

    .mode__area hr{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }


    .grid-container {
        width: 184px;
        height: 184px;
    }

    .grid-item {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .heading__area{
      margin-bottom: 15px;
    }

    button.btn{
      margin: 5px auto;
    }

    h1{
      font-size: 1.75rem;
    }
    h2{
      font-size: 1.5rem;
    }
    h3{
      font-size: 1rem;
    }

    h6{
      font-size: 0.75rem;
    }




  }
